#hero {
  background-image: radial-gradient(circle farthest-corner at 48.4% 47.5%, rgba(122, 183, 255, 1) 0%, rgba(21, 83, 161, 1) 90%);
  background-size: cover;
}

.text-super {
  font-size: 8rem;
  font-family: "DejaVu Math TeX Gyre", serif;
}
