<mat-form-field>
  <mat-label>Event:</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Description:</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>Choose the date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button mat-raised-button>Submit</button>
