.icon-separator {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

mat-icon {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .mat-table {
    display: flex;
  }

  .mat-mdc-row, {
    font-size: .6rem;

  }
}
