.grid-section {
  font-size: 3rem;
  color: white;
  //background: linear-gradient(90deg, rgba(13, 44, 47, 0.5328256302521008) 0%, rgba(200, 217, 57, 0.3031337535014006) 100%);
  background-image: radial-gradient(circle farthest-corner at 48.4% 47.5%, rgba(122, 183, 255, 1) 0%, rgba(21, 83, 161, 1) 90%);


  border-radius: 50%;
}
