<div class="full-screen container d-flex flex-column justify-content-center align-content-center">

  <h2 class="text-center">Edit Event</h2>
  <form [formGroup]="form" class="d-flex flex-column justify-content-center align-content-center">
    <mat-form-field>
      <mat-label>Event:</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description:</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose the date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image URL:</mat-label>
      <input matInput formControlName="imageUrl"/>
      <mat-hint>Paste an image url or leave blank to the default image selected</mat-hint>
    </mat-form-field>

    <div class="d-flex justify-content-end">
      <button mat-raised-button class="mx-4" (click)="updateEvent()" [disabled]="!form.valid">Submit</button>
      <button mat-raised-button routerLink="/management">Cancel</button>
    </div>
  </form>

</div>
